body {
  font-family: 'Actor', sans-serif;
}
#main-content {
  margin: "0 auto";
}
.inventory-button {
  color: transparent;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: solid 2px black;
  height: 100px;
  width: 100px;
}
.inventory-button:hover,
.inventory-button:active,
.inventory-button:focus {
  color: transparent;
}
.dialogue {
  font-size: 3rem;
}
