body {
    font-family: 'Actor', sans-serif;
}

.inventory-button {
    color: transparent;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 2px black;
    height: 100px;
    width: 100px;

    &:hover,
    &:active,
    &:focus {
        color: transparent;
    }
}
